[Unit]
Description=Set late mode
After=graphical.target

[Service]
Type=oneshot
Environment="PATH=/home/jamsnxs/.local/share/pipx/venvs/hyprshade/bin:/usr/local/bin:/usr/bin:/bin:/home/jamsnxs/.local/bin"
ExecStart=/home/jamsnxs/.local/bin/sleep_filter late
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

